name: merge dependabot
on: 
  pull_request:
    types: [labeled]

jobs:
  merge:
    if: ${{github.event.label.name == 'dependabot'}}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: |
          make tidy
      - run: |
          make test
      - run: |
          bazel run //:gazelle-update-repos
      - run: |
          bazel build //...
      - run: |
          git config --local user.name 'Daisuke Maki'
          git config --local user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add .
          git commit -m "Run tidy / bazel+gazelle"
          git push origin ${{ github.ref_name }}
          gh pr review --approve "$PR_URL"
          gh pr merge --auto --merge "$PR_URL"
        env:
https://github.com/endeworks/gihyo/pull/127          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
