name: lint
on: [push]
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.19
          check-latest: true
      - uses: golangci/golangci-lint-action@v4
        with:
          version: v1.54.2
      - name: Run go vet
        run: |
          go vet ./...
