# Smoke tests only run on non-master branches. Smoke tests cut
# some corners by running selected tests in parallel (to shave off
# some execution time)
# Once a pull request is merged to master, workflows/ci.yml is run
name: Smoke Tests
on:
  push:
    branches-ignore:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go_tags: [ 'stdlib', 'goccy', 'es256k', 'all' ]
        go: [ '1.19.x', '1.18.x' ]
    name: "Smoke [ Go ${{ matrix.go }} / Tags ${{ matrix.go_tags }} ]"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Munge APT Repositories
        run: curl --connect-timeout 1 https://azure.archive.ubuntu.com || (sudo sed -i 's/azure\.//' /etc/apt/sources.list && sudo apt-get update)
      - name: Install Go stable version
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Install stringer
        run: go install golang.org/x/tools/cmd/stringer@latest
      - name: Install jose
        run: sudo apt-get install -y --no-install-recommends jose
      - run: make generate
      - name: Run smoke tests
        run: make smoke-${{ matrix.go_tags }}
      - name: Check difference between generation code and commit code
        run: make check_diffs
      - name: Run go mod tidy
        run: go mod tidy
