# Smoke tests only run on non-master branches. Smoke tests cut
# some corners by running selected tests in parallel (to shave off
# some execution time)
# Once a pull request is merged to master, workflows/ci.yml is run
name: Smoke Tests
on:
  push:
    branches-ignore:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go_tags: [ 'stdlib', 'goccy', 'es256k', 'all' ]
        go: [ '1.19', '1.18' ]
    name: "Smoke [ Go ${{ matrix.go }} / Tags ${{ matrix.go_tags }} ]"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Check documentation generator
        run: |
          find . -name '*.md' | xargs env AUTODOC_DRYRUN=1 perl tools/autodoc.pl
      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install Go stable version
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
          check-latest: true
      - name: Install stringer
        run: go install golang.org/x/tools/cmd/stringer@latest
      - name: Install jose
        run: sudo apt-get install -y --no-install-recommends jose
      - name: Install sketch
        run: go install github.com/lestrrat-go/sketch/cmd/sketch@1e95c85fe782b4fed83a5bbca0ff92b91303bcfa
      - run: make generate
      - name: make tidy
        run: make tidy
      - name: Run smoke tests
        run: make smoke-${{ matrix.go_tags }}
      - name: Check difference between generation code and commit code
        run: make check_diffs
